* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    font-family: sans-serif;
}

nav h1 {
    margin: 0;
    padding-left: 2%;
    font-size: 30px;
    text-align: center;
}
span{
    color: red;
}

nav > div {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    background-color: white;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0 15%;
    display: flex;   
}
nav ul li{
    margin: 0 15px;
}
nav ul a{
    text-decoration: none;
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
nav svg{
    margin-left: 50px;
    font-size: 17px;
}


.section3{
    height: 350px;
    width: 100%;
    margin: 0;
  
}
.left-half, .right-half{
    width: 50%;
    float: left;
    box-sizing: border-box; /* Include padding and border in the element's total width */
}
.left-half{
    padding: 0;
    margin: 0;
}
.right-half{
    height: 350px;
    background-color: #e6f7ff;
    text-align: left;
    color: #b3b3b3;
    padding-left: 5%;
    padding-top: 50px;
    font-family: sans-serif;
}
h1 span{
    color: red; /* Change this color as needed */
}


.f_item{
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: Left;
    background-color: #f8f9fa;
    margin: 0;
}
.product{
    text-align: center;
    margin: 0%;
    padding: 4% 0;
    font-size: 35px;
    background-color: #f8f9fa;
}
.fashion{
    flex: 0 0 30%; /* Flex basis at 30% to ensure 3 items per row */
    margin: 0; /* Vertical margin for spacing between lines */
    box-sizing: border-box; 
}  
.f_item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

p span{
    color: grey;
    padding-left: 100px;
    
}
.fshn1{
    float: left;
    padding: 10px 0;
}
.fshn2{
    float: right;
    padding: 10px 0;
}
.fshn1 p{
    font-weight: bold;
    font-size: 18px;

}

.fp{
    font-size: 10px;
    color: lightgray;
}


footer{
   padding: 0;
   margin: 0; 
   height: 250px; 
}
footer .ftr{
    height: 250px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    padding-top: 5%;
    padding-left: 8%;
}
.footer-section{
    flex: 0 0 30%; /* Flex basis at 30% to ensure 3 items per row */
    margin: 0; /* Vertical margin for spacing between lines */
    box-sizing: border-box; /
} 
footer p{
    color: #f8f9fa;
    font-size: 10px;
    font-family: sans-serif;
} 
h3 span{
    color: #595959;
}
td,th{
    text-align: left;
    padding-left: 8px;
    padding-bottom: 5px;
    color: #595959;
}
footer svg{
    padding-right: 2px;
}

